@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  font-family: 'Rubik';
  color: #171f3b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.header{
    width: 100%;
    height: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(28, 24, 78);
    color:white;
    padding: 15px 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.content{
    padding: 25px;
    color: black ;
}
.videosContainer{
    display: flex;
    width: 90%;
    background-color: rgb(28, 28, 63);
    color: white;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

.videosText{
    margin-bottom: 5px;
    font-size: 14px;
}
.videosImage{
    width: 200px;
    height: auto;
}
.Minter {
  max-width: 80vh;
  max-height: 80vh;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;

}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
  padding: 10px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

button {
  padding: 9px 16px;
  max-height: 40px;
  border-color: #254cdd;
  color: #254cdd;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}

#title {
  padding-top: 32px;
}

#status {
  color:red;
  font-size: 12px;
  padding: 5px;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: right;
  float:right;
  margin-bottom: 20px;
  line-height: 10px;
  padding: 10px 20px;
  margin-top: -30px;
  font-size: 20px;
}

#mintButton {
  margin-top: 40px;
  background-color: #254cdd;
  color:white;
}
